#h1_0 {
    text-align: center;   
    font-size: 300%;
}

#img_0 {
    padding-right: 100px;
    float: right;
    width: 700px;
    height: 600px; 
}

#p_0 { 
    padding-top: 50px;
}

#p_1 {
    padding-top: 50px;
}