#h1_0 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
}

#p_0 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
}

#img_0 {
    padding-right: 100px;
    float: right;
    width: 700px;
    height: 600px; 
}

#ul_0 {
    font-family: Arial, Helvetica, sans-serif;
}

#p_1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
}