#figcaption_0 {
    text-align: center;
}

#figure_0, #img_0 {
    float: right;
}
#h1_0 {
    text-align: center;   
    font-size: 300%;
}

#img_0 {
    display: block;
    padding-right: 100px;
    width: 642px;
    height: 550px; 
}

#p_0 { 
    padding-top: 50px;
}

#p_1 {
    padding-top: 50px;
}