#h1_0 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
}

#p_1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
}

#img_1 {
    padding-right: 100px;
    float: right;
    width: 700px;
    height: 657px;
    border: 3000%;
}