#figcaption_0 {
    width: 150px;
}

#figcaption_0, #figcaption_1, #figcaption_5, #figcaption_6, #figcaption_8, #figcaption_11, #figcaption_12 {
    font-size: 75%;
}

#figcaption_1 {
    width: 200px;
}

#figcaption_2 {
    width: 320px;
}

#figcaption_3 {
    width: 320px;
    font-size: 65%;
    caption-side: left;
}

#figcaption_4 {
    width: 320px;
}

#figcaption_5 {
    width: 200px;
}

#figcaption_6 {
    width: 265px;
}

#figcaption_7 {
    width: 265px;
    font-size: 50%;
}

#figcaption_8 {
    width: 136px;
}

#figcaption_9 {
    width: 263px;
    font-size: 65%;
}

#figcaption_10 {
    width: 263px;
    font-size: 50%;
}

#figcaption_11 {
    width: 465px;
}

#figcaption_12 {
    width: 267px;
}

#figcaption_13 {
    font-size: 60%;
    width: 171px;
}

#figure_0, #figure_3, #figure_5, #figure_8, #figure_9, #figure_10, #figure_11 {
    float: right;
}

#figure_1, #figure_2, #figure_4, #figure_6, #figure_7 {
    float: left;
}

#figure_7 {
    -webkit-margin-start: 0px;
    -webkit-margin-before: 0em;    
}

hr {
    clear: both;
}

#h3_1 {
    -webkit-margin-before: 0em;
}

#img_0 {
    width: 150px;
    height: 143px;
}

#img_1 {
    width: 200px;
    height: 150px;
    border: 6px solid;
}

#img_4 {
    width: 200px;
    height: 150px;
}

#img_4, #img_5, #img_6, #img_7, #img_8, #img_9, #img_10 {
    border: 3px solid;
}

#img_5 {
    width: 265px;
    height: 175px;
}

#img_6 {
    width: 136px;
    height: 200px;
}

#img_7 {
    width: 263px;
    height: 175px;
}

#img_8 {
    width: 465px;
    height: 350px;
}

#img_9 {
    width: 267px;
    height: 200px;
}

#img_10 {
    width: 171px;
    height: 150px;
}

#tr_0 {
    background-color: black;
    color:white;
}