#figcaption_0 {
    width: 150px;
    font-size: 75%;
}

#figcaption_1 {
    width: 200px;
    font-size: 75%;
}

#figcaption_2 {
    width: 320px;
}

#figcaption_3 {
    width: 320px;
    font-size: 65%;
    caption-side: left;
}

#figcaption_4 {
    width: 320px;
}

#figcaption_5 {
    width: 200px;
    font-size: 75%;
}

#figcaption_6 {
    width: 379px;
}

#figcaption_7 {
    width: 379px;
    font-size: 50%;
}

#figcaption_8 {
    width: 136px;
    font-size: 75%;
}

#figcaption_9 {
    width: 263px;
    font-size: 65%;
}

#figcaption_10 {
    width: 263px;
    font-size: 50%;
}

#figure_0 {
    float: right;
}

#figure_1 {
    float: left;
}

#figure_2 {
    float: left;
}

#figure_3 {
    float: right;
}

#figure_4 {
    float: left;
}

#figure_5 {
    float: right;
}

#figure_6 {
    float: left;
}

#figure_7 {
    float: left;
    -webkit-margin-start: 0px;
    -webkit-margin-before: 0em;    
}

#figure_8 {
    float: right;
}

hr {
    clear: both;
}

#h3_0 {
    padding-top: 65px;
}

#h3_1 {
    -webkit-margin-before: 0em;
}

#img_0 {
    width: 150px;
    height: 143px;
}

#img_1 {
    width: 200px;
    height: 150px;
    border: 6px solid;
}

#img_4 {
    width: 200px;
    height: 150px;
    border: 3px solid;
}

#img_5 {
    width: 379px;
    height: 250px;
    border: 3px solid;
}

#img_6 {
    width: 136px;
    height: 200px;
    border: 3px solid;
}

#img_7 {
    width: 263px;
    height: 175px;
    border: 3px solid;
}

#tr_0 {
    background-color: black;
    color:white;
}